#lightSwitch {
  transform: scale(1.8);
}

.bg-theme-light {
  background-color: #ecf0f1 !important;
  border-radius: 3px;
  color: gainsboro;
}

.bg-theme-dark {
  background-color: #34495e !important;
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: dimgray;
}

.bg-box-dark {
  background-color: #2c3e50 !important;
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: white;
}

.bg-box-light {
  background-color: white !important;
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: dimgray;
}

.nav-item.nav-link-dark {
  color: #2c3e50 !important;
}

.nav-item.nav-link-light {
  color: white !important;
}